*.pyc
*.pyproj
/server.conf
/prod.conf
/output
.idea/
/static/.DS_Store
/static/js/.DS_Store
.DS_Store
.idea/*.*
/util/*.pyc
/excel_files/*
*.txt
node_modules/
.DS_Store
package-lock.json
.cache/
.webpack_cache/
.webpack_cache
.vscode/settings.json
.python-version
/excel_files/*